        * {
            box-sizing: padding-box;
        }

        html,
        
        body {
            font-family: "Palatino Linotype", "Ariel slender", "Times New Roman", "Courier";
            font-size: 1.1rem;
            padding: 0;
            text-shadow: 4px 4px 4px rgba(143, 84, 84, 0.527);
            background-color:  rgb(247, 239, 216);

        }
        
        .container {
            font-weight: bold;
            color: rgb(1, 14, 27);
            border-bottom: solid, 15px, rgba(5, 2, 32, .15);
            text-align: center;
            /* padding: 1rem; */
        }

        h2 {
            font-size: 1.5rem;
            color: rgb(1, 14, 27);

        }

         .namebutton {
            font-size: 1rem;
            font-weight: bold;
            background-color: rgb(2, 15, 27);
            color: rgb(247, 239, 216); 
            margin-bottom: 50px;
            display: inline-block;
            align-items: center;
            text-align: center;
            border-color: beige;
            border-radius: 8%;
        }

        .output {
            font-weight: bolder;
            font-size: 2rem;
            text-align: center;
            align-items: center;
            display: inline-block;
            margin-bottom: 20px;
        }
        .welcome {
            font-weight: bolder;
            font-size: 1.5rem;
            text-align: center;
            align-items: center;
            display: inline-block;
        }

        .trollin {
            text-align: center;
            color: rgb(1, 14, 27);
            padding: 2%;
            font-size: .75rem;
            display: inline-block;
            padding-right: 12px;
        }
 
        #funnyPic {
            max-width: 250px;
            max-height: 250px;
            padding-bottom: 20px;
            border-radius: 10%;
        }
           
        

        /* This is where I will put the responsive code in */
      
        @media (min-width: 720px) {
            .story {
                max-width: 35%;
                padding-right: 5%;
                display: inline-flex;
                justify-content: center;
                /* padding left: 10%;
                margin-left: 10%; */
                
            }

            .story2 {
                max-width: 35%;
                display: inline-flex;
                justify-content: center;     

            }
            
            p::first-letter { 
                font-size: 200%;
            }
