        * {
            box-sizing: padding-box;
        }

        html,
        body {
            height: 100%;
        }

        body {
            font-family: "Bauhaus","Times New Roman", "Courier";
            font-size: 1.5rem;
            height: 100%;
            margin: 0;
            padding: 0;
            background: skyblue;
            text-shadow: 2px 2px 2px gold;

        }
        
        .main_header {
            height: 100px;
            font-weight: bold;
            border-bottom: solid 2px black;
            margin-bottom: 75px;
            padding-bottom: 15px;
        }

        .container {
            height: 100%;
            position: relative;
            padding: 1rem;
        }

        .namebutton {
            font-size: 1.2rem;
            font-weight: bold;
            background-color: teal;
            color: rgb(65, 1, 1);
            margin-bottom: 20px;
            display: inline-block;
        }

        .output {
            font-weight: bolder;
            font-size: 30px;
            width: 25%;
            text-align: center;
            align-items: center;
            display: inline-block;
            
        }

        .trollin {
            text-align: center;
            Color:Navy;
            padding: 2%;
        }

        .body_background {
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            border-style: line ;
            border-width: 40px;
            border-color: gold;
            border-radius: 5%;
            position: relative;
            opacity: 0.75;
            max-height: 400px;
            max-width: 400px;
            float: left;
        }

        .img2 {
            float: right;
            display: inline-block;
            margin-bottom: 10px;
        }

        /* This is where I will put the responsive code in */
        @media (max-width: 320px) {
            width: 100%;
            margin: 0 auto;
            

        }


        @media (min-width: 720px) {
            width: 100%;
            margin: 0 auto;

        }

        @media (max-width: 1028px) {
            width: 90%;
            margin: 10px 10px;
        }